.bg {
  /* The image used */
  background-image: url();

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

.html,body::-webkit-scrollbar {/* Google chrome */ 
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  display: none;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

footer {
  background-color:white;
  padding: 50px 0;
  color:white;
}